main {
  margin: 20px 50px;
  padding: 10px 30px;
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.checkout {
  flex: 1;
}

.items {
  flex: 1;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.price {
  margin-top: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.number {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

hr {
  margin: 10px 0;
}

.checkout hr {
  margin-right: 20px;
}

.items hr {
  margin-left: 30px;
}

.address {
  flex: 1;
  margin-left: 2rem;
}

.paypal {
  margin-top: 20px;
  width: 100%;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: orange;
}
